

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

  .searchButton .fa-magnifying-glass {
    display: inline; /* Afficher l'icône */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchButton .button-text {
    display: none; /* Masquer le texte */
  }

  body {
    margin: 0 !important;
    display: block;
    padding: 0;
  }

   header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header img {
    padding: 30px;
  }
  
  .header-nav {
    display: flex;
    gap: 0;
    width: 100%;
    padding-bottom: 30px;
  }

  .header-div:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-top: none;
  }
  
  .header-div {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--main-bg-color);
    width: 50%;
  }

  .search {
    padding: 0 8px;
  }

  .location-search {
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .location-button {
    width: 49px;
    height: 49px;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    background-color: var(--main-color);
    padding: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
    right: 0px;
    left: auto;
    top: auto;
  }

  .location {
    padding: 35px 0px;
  }

  .main-container {
    width: auto;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 !important;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse !important;
  }

  .hebergements-and-populaires section {
    padding: 30px 20px;
    border-radius: 0px;
  }
  
  .populaires-cards {
    flex-direction: column !important;
  }

  .populaires-cards a {
    width: auto !important;
  }

  .populaires-cards .card {
    margin-top: 15px !important;
  }

  .hebergements-and-populaires section:first-child {
    background: none;
  }
  
  .card-global {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .populaires {
    margin-top: 0 !important;
  }

  .section-title {
    font-size: 16px;
  }

  .hebergements a {
    width: 100%;
  }

  .card-hebergement {
    width: auto !important;
    height: auto;
  }

  .card-hebergement img {
    width: auto;
  }

  .populaires-cards img {
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .card-content-activity {
    padding: 20px 0px 0px 20px !important;
  }

  .card-global-activite {
    flex-direction: column;
    gap: 15px;
  }

  .card-activite {
    width: 100% !important;
    height: 13em !important;
  }

  .card-activite img {
    width: 100% !important;
    height: 141px !important;
  }

  footer {
    flex-direction: column;
    gap: 0 !important;
  }

  .footer {
    gap: 15px;
    padding: 30px;
  }

  .b {
    gap: 4px;
    justify-content: center;
  }

  .filter-chips {
    padding: 0px 9px;
    width: 42%;
    justify-content: center;
  }

  .icon-info {
    width: 34px;
    height: 24px;
  }

  .filter-title {
    margin: 0;
    margin-bottom: 20px;
  }

  .search-title {
    margin: 0;
    margin-bottom: 8px;
  }

  .section-subtitle {
    margin: 0;
  }

  .hebergements-title {
    padding-bottom: 15px;
  }

  .gap15 {
    padding-bottom: 15px;
  }

  .activite {
    padding-bottom: 35px;
  }

  .activite-title {
    font-size: 22px;
    font-weight: 700;
  }

  .more-title {
    margin: 0;
    font-size: 18px;
}
}